---
import "../styles/global.css";
import TopBar from "../components/TopBar.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
const { title } = Astro.props;
---

<!doctype html>
<html lang="fr">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title ? `${title} — Portfolio Ugo LIPPI` : "Portfolio Ugo LIPPI"}</title>
	</head>
	<body>
		<div class="relative">
			<div class="fixed top-0 left-[70px] w-[calc(100%-70px)] z-30">
				<TopBar title="Portfolio_ugo_lippi" />
			</div>
			<div class="relative z-20">
				<div id="header-container" class="hidden">
					<Header />
				</div>
			</div>
		</div>
		<slot />
		<Footer />
	</body>
</html>
